/*W tym pliku znajduje się fragment kodu odpowiadającego za styl strony głównej*/
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
}