body {
  background-color: white;
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
}
.main {
        background-color: #FFFFFF;
        width: 400px;
        height: 400px;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }

.naglowek{
  align-content: center;
  padding-top: 15px;
  color: dodgerblue;
}
.link{
  color: dodgerblue;
}

.pojemnik1{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10%;
}

.pojemnik2{
  padding-left: 10px;
  padding-top: 10%;
  padding-right: 10px;
}